.Supportlinks {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: solid 1px;
    margin: 5px 0px 5px 0px;
}

.slinks {
    margin-bottom: 20px;
}

.btnsupport {
    width: 200px;
}