a {
    text-decoration: none;
    color: rgb(102, 151, 208, 1);
}

.logo {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-variant: small-caps;
  font-size: 2.8em;
}

.contact {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: right;
}

@media (max-width: 769px) {
  .logo {
    text-align: center;
  }
}







