.tablecontent {
  background-color: rgb(96, 143, 200);
  color: white;
  font-size: small;
  border: dotted rgb(255, 255, 255);
}

.anchor {
    color: white;
}

td, tr {
  border: #efefef solid 1px;
  padding: 0;
}


